<h1>Users#show</h1>


<% if @user == current_user %>
  <%= render 'books/list', book: @book %>
<% else %>
  <h2>User info</h2>
  <%= image_tag @user.get_profile_image(100,100) %>
  <table>
    <tbody>
      <tr>
        <th>name</th>
        <th><%= @user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= @user.introduction %></th>
      </tr>
    </tbody>
  </table>

<%= link_to "User編集(仮)", users_path %>

  <h2>New book</h2>
    <%= form_with model: @book, url: '/books', method: :post do |f| %>
  <label>Title</label>
    <%= f.text_field :title %>
  <label>Opinion</label>
    <%= f.text_area :body %>
    <%= f.submit 'Create Book' %>
<% end %>

<% end %>



<% @user.books.each do |user_books| %>
<%= link_to user_path(@user.id) do %>
  <%= image_tag user_books.user.get_profile_image(80,80) %>
<% end %>
  <%= link_to "#{user_books.title}", book_path(user_books.id) %>
  <%= user_books.body %>
<% end %>
